
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <div class="container">
        <div class="item">
            <img src="images/create.svg" width="100" height="100" onclick="newRoom()">
            <p>Oda Kur</p>
        </div>
        <div class="item">
            <img src="images/join1.svg" width="100" height="100" onclick="joinRoom()">
            <p>Katıl</p>
        </div>
        <div class="item">
            <img src="images/settings.svg" width="100" height="100">
            <p>Ayarlar</p>
        </div>
        <div class="item">
            <img src="images/share.svg" width="100" height="100">
            <p>Ekran Paylaş</p>
        </div>
    </div>
    </script>
 

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        function newRoom() {
          
            $.alert({
                title:"Oda Kur",
                content: `
                <div id="dialog">
                <input type="text" id="yourname" placeholder="Adınız..">
                    </div>
                `,
                closeIcon:true,
                type:"green",
                buttons: {
                    heyThere: {
                        text: 'Oda Kur!',
                        action: function () {
                           var name=$('#yourname').val();
                           if(name!=""&&name!=null){
                            location.href = "/room/" + name;
                           }
                        }
                    }
                }
            })

        }

        function joinRoom() {
            $.alert({
                title: 'Odaya Katıl!',
                content: `
                <div id="dialog">
                <input type="text" id="roomId" placeholder="Oda id">
                <input  type="text" id="name" placeholder="Adınız..">
                    </div>
                `,
                closeIcon:true,
                type:"blue",
                buttons: {
                    heyThere: {
                        text: 'Katıl!',
                        action: function () {
                           var name=$('#name').val();
                           var roomId=$('#roomId').val();
                           if(name!=""&&name!=null&&roomId!=""&&roomId!=null){
                               location.href="/"+roomId+"_"+name
                           }
                        }
                    }
                }
            });
        }
    </script>
</body>

</html>